
Intermediate/CachedAssetRegistry.bin
/Intermediate/Config/CoalescedSourceConfigs
Intermediate/ReimportCache/3688439234.bin
Intermediate/ShaderAutogen/PCD3D_ES3_1/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Saved/Autosaves/Game/StarterContent/light_Auto1.umap
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/SourceControl/UncontrolledChangelists.json
Saved/Logs/light_2.log
Saved/Logs/light.log
Saved/Logs/light-backup-2024.07.03-10.00.36.log
Saved/Config/WorldState/3919159549.json
Saved/Config/WindowsEditor/VariantManagerContent.ini
Saved/Config/WindowsEditor/TraceDataFilters.ini
Saved/Config/WindowsEditor/Synthesis.ini
Saved/Config/WindowsEditor/Scalability.ini
Saved/Config/WindowsEditor/RuntimeOptions.ini
Saved/Config/WindowsEditor/Paper2D.ini
Saved/Config/WindowsEditor/Niagara.ini
Saved/Config/WindowsEditor/Metasound.ini
Saved/Config/WindowsEditor/Lightmass.ini
Saved/Config/CrashReportClient/UECC-Windows-59F570244AF51B8CA3E3738969C85803/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-6D9D75B249AA7FC3549AFB8CBEAA3185/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-F7FBB0B24F52D61B78C0BCB1886E3972/CrashReportClient.ini
Saved/Config/WindowsEditor/Compat.ini
Saved/Config/WindowsEditor/ControlRig.ini
Saved/Config/WindowsEditor/DatasmithContent.ini
Saved/Config/WindowsEditor/DeviceProfiles.ini
Saved/Config/WindowsEditor/Editor.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/EditorScriptingUtilities.ini
Saved/Config/WindowsEditor/Engine.ini
Saved/Config/WindowsEditor/EnhancedInput.ini
Saved/Config/WindowsEditor/FullBodyIK.ini
Saved/Config/WindowsEditor/Game.ini
Saved/Config/WindowsEditor/GameUserSettings.ini
Saved/Config/WindowsEditor/GLTFExporter.ini
Saved/Config/WindowsEditor/Hardware.ini
Saved/Config/WindowsEditor/Input.ini
Saved/Config/WindowsEditor/Interchange.ini
